# Discord
DISCORD_BOT_TOKEN=""
REACTS=":heart:,:blue_heart:,:green_heart:,:purple_heart:,:white_heart:,:yellow_heart:,:orange_heart:"

# Reddit
BASE_URL="https://oauth.reddit.com/"
SOURCE_SUBREDDIT="/r/celebs/"
SOURCE_NSFW_SUBREDDIT="/r/celebnsfw/"
REFRESH_TOKEN=""
REFRESH_TOKEN_URL="https://www.reddit.com/api/v1/access_token"
AUTH_HEADER=""

# App
DEFAULT_N_CELEB=3